<h1>Welcome to Twixter!</h1>

<% @twixts.each do |twixt| %>
    <div class="link row clearfix">
      <h2>
        <%=  twixt.content %><br>
        <small class="author">Submitted <%= time_ago_in_words(twixt.created_at) %> ago by <%= twixt.user.name %></small>
      </h2>
    </div>

<% end %>

<div class="link row clearfix"
<%= paginate @twixts %>
</div>
