
@import "bootstrap-sprockets";
@import "bootstrap";

div.masthead {
  display: block;
  padding-top: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.l1, h1 {
  text-align: center;
  text-shadow: 1px 1px 1px #777;
  color: #0033CC;
  font-size: 3em;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 0px;
  background-color: #e8e8e8;
  }

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000066;
}
 
.blog-nav {
  float: right;
  display: inline-block;
  padding: 10px;
  border: 10px;
}

.blog-nav-item{
  margin-left: 10px;
}

.btn,
.btn-small,
.btn-large,
.btn-primary,
 {
   border-top: 1px solid #bddef2;
   background: #1749a1;
   background: -webkit-gradient(linear, left top, left bottom, from(#396fed), to(#1749a1));
   background: -webkit-linear-gradient(top, #396fed, #1749a1);
   background: -moz-linear-gradient(top, #396fed, #1749a1);
   background: -ms-linear-gradient(top, #396fed, #1749a1);
   background: -o-linear-gradient(top, #396fed, #1749a1);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
  border-top-color: #0c507d;
  background: #0c507d;
  color: #fcfcfc;
   }
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }

.user-follow {
  text-align: right;
}

.follow-header {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  }



