
@import "bootstrap-sprockets";
@import "bootstrap";


div.masthead {
  display: block;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 30px;
  background-color: #e8e8e8;
  }
