// Place all the styles related to the twixts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #0033CC;
}

.header{
  padding: 100px;
  margin: 50px auto;
  margin-top: 40px
  margin-left: 20px;
  border-radius: 20px;
}

.avatar {
  float: left;
  padding:0 15px 10px 0;
}

small.author {
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
}
 
.pager {
  margin-bottom: 50px;
  font-family: "Georgia", Helvetica, Arial, sans-serif;
  text-align: center;
}

.pager > li > a {
  width: 140px;
  padding: 5px;
  font-family: "Georgia", sans-serif;
  font-size: 12pt;
  text-align: center;
  border-radius: 30px;
}