// Place all the styles related to the twixts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, .h1,
h2, .h2,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #0033CC;
}

.container,
.page-container {
  padding: 100px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 0 30px #888;
}

 .ul {
  padding: 100px;
  border-radius: 50px;
}